
/*------------- TABLA PARA BOLETIN ACADEMICO  --------------*/

.confirmar {
    cursor:pointer;
}

table.hovertable {
 font-family: verdana,arial,sans-serif;
 font-size:15px;
 color:#333333;
 border-width: 1px;
 border-color: #999999;
 border-collapse: collapse;
 }

 table.hovertable th {
 background-color:#c3dde0;
 border-width: 1px;
 padding: 5px;
 border-style: solid;
 border-color: #a9c6c9;
 }
 table.hovertable tr {
 background-color:#FFFFFF;
 }
 table.hovertable td {
 border-width: 1px;
 padding: 4px;
 border-style: solid;
 border-color: #000000;
 }
